#container{
	top:20%;
}
.hometext{
position: absolute;
width: 827px;
height: 359px;
font-weight: 1000;
font-size: 60px;
line-height: 90px;

color: #FCFCFC;
}
#homtxt{
	font-weight: 1;
	font-size: 20px;
	line-height: 25px;
	margin-top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-sizing: border-box;
	width: 580px;
	height: 70px;
}
my{
	margin-top: 20px;
}
.cont{
	position: absolute;
	top: 26%;
	right: 40%;
	left: 40%;
	align-content: center;
	
}