<div style="position: absolute;top: 30%; left: 10%;"> 
<div id="container">
	<div class="hometext">
		ECOSYSTEM
		<div id="homtxt">
	<my>Write something here </my>
	</div>

	</div>
	
</div>
</div>
<div style="position: absolute; right: 10%; top:40%;">
	Drop your eco system image here it's aligned
</div>