<div class="cont"> 
<center>The weather in <b style="color: red;">{{city}}</b> Today is : {{skytext}}
<br><br>
local weather is : +4
<br><br>
<u><p>Traveller News :</p></u>
Police Begin National Traffic Surveillance Campaign Called ‘Sober in pre-Christmas Traffic’
</center>

</div>
