<div style="position: absolute;top: 30%; left: 10%;"> 
<div id="container">
	WHAT WE DO ?
	<div class="hometext">
		Collecting, <br>
		analizing, <br>
		<div style="color: red;"> sharing </div> 

		<div id="homtxt">
	<my>Improving the quality of life of citizens by integrating technologies and infrastructure.</my>
		<img src="/images/c.png" style="float: right;">
	</div>

	</div>
	
</div>
</div>